[submodule "dll_impl/Radiant/Vendor/spdlog"]
	path = dll_impl/Radiant/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dll_impl/Radiant/Vendor/GLFW"]
	path = dll_impl/Radiant/Vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "dll_impl/Radiant/Vendor/glm"]
	path = dll_impl/Radiant/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "dll_impl/Radiant/Vendor/imgui"]
	path = dll_impl/Radiant/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
